.breadcrumb-section{
    
    background-color: @warna-5;
    background-image: url(http://www.transparenttextures.com/patterns/cubes.png);
    border-radius: 0;
    padding-top: 10em!important;
    .breadcrumb{
        display: inline-block;
        background-color: white;
        border-radius: @border-tab;
        margin-bottom: 0;
        padding-bottom: 0.5em;
    }
}

.breadcrumb-section-alternate{
    padding-top: 0;
    .breadcrumb{
        //display: inline-block;
        //background-color: @warna-3;
        //border-radius: 0 0 @border-largest-radius 0;
        background-color: rgba(255, 255, 255, 0);
        margin-bottom: 0;
        padding-bottom: 0.5em;
        li:not(.active){
            a{
           //     color:white;
            }
        }
    }
}

.kol-isi{
    .breadcrumb{
        margin-left: 0;
        margin-bottom: 0;
        padding: 0;
        background: transparent;
        padding-top: 10px;
        line-height: 0;
    }
}

