.gambar {
	.make-row();
	background-color:#0098FF;
	border-bottom:10px solid black;
}

.gambar-teks {

}

.gambar-gambar {

}

#imagelightbox
{
    position: fixed;
    z-index: 9999;
 
    -ms-touch-action: none;
    touch-action: none;
}