@tinggi-kotak: @box-height;
.kotak-section {
    .make-row();
    padding: 0px;
    margin: 0px;
    margin-top: 1em;
    .kotak-container {
        .make-row();
        margin-right: auto;
        margin-left: auto;
        .hidden-xs;
        .span_1_of_2 {
            .make-md-column(6);
            .make-xs-column(12);
            padding: 0;
            height: @tinggi-kotak;
            background-color: @warna-3;
            display: block;
            float: left;
            .kotak-row {
                .make-row(0);
                margin-left: 0px;
                margin-right: 0px;
                .kotak-md-6 {
                    .make-sm-column(6, 0);
                    position: relative;
                    min-height: 1px;
                    padding-left: 0px;
                    padding-right: 0px;
                    height: @tinggi-kotak/2;
                    background-color: @warna-4;
                }
            }
        }
    }
}
