.section{
//    background-color:#F2F2F2;//lighten(@warna-3, 40%);
}
.modal-content{
    border-radius:0;
    .modal-header{
        background-color: @brand-primary;
        .modal-title{
            color:white;
        }
    }
    .modal-footer{
        border:0px;
    }
    .modal-body{
        padding:@baseline;
        p{
            // margin: 0;
        }
        ul,ol{
            padding-left: @baseline;
        }
    }
}

.glyphicon{
    margin-left: .3em;
    margin-right: .3em;
}


@media (max-width: @screen-lg) {
    .page-tabs {
        .nav-tabs {
            margin-bottom: 1em;
            li {
            	margin-top: 0.5em;
                a {
                    border-radius: @border-leaf!important;
                }
            }
        }
    }
}

.section{
    padding-top: @baseline;
    padding-bottom: @baseline;
    .section-name{
        font-weight: 700;
        margin: 0;
        padding: 0;
        line-height: @baseline*2;
        text-transform: uppercase;
        letter-spacing: -1px;
        text-align: center;
        margin-bottom: @baseline;
    }
}
#shortcut-section{
    //background-color: green;
    padding-bottom: 4px+@baseline;
    .icon-container{
        //.animated;
        //.rotateIn;
    }
}

#latest-section{
    //background-color: red;//@odd-section-bg;
    .row{
        margin-top: 0;
        margin-bottom: 18px;
    }
    .nav-tabs{
        margin-left: 0;
        li.active a{
            background-color: white;//@odd-section-bg;
            font-weight: 700;
            color: @headings-color;
        }
        li a{
            padding-top: 0;
            padding-bottom: 0;
            line-height: (@baseline*2)-3; //kurangi border;
            font-size: @font-size-h5;
            text-transform: uppercase;
            font-family: @headings-font-family;
            letter-spacing: 1.5px;
            color: @text-color;
            @media (max-width:@screen-xs) {
              padding-left: 5px;
              padding-right: 5px; 
              font-size: 13px;
              letter-spacing: 0; 
            }
        }
    }
}

.twitter-header{
    *{
        margin-bottom: 0;
        line-height: (@baseline*2)-2;
        font-weight: 700;
        text-transform: uppercase;
        border-bottom: 2px solid @warna-3;
    }
}

#links-section{
    padding-top: @baseline*2;
    padding-bottom: @baseline*2;
    .hidden-xs;
    .container{
        //padding: 0;
    }
    background-color: @odd-section-bg;
    .links{
        margin: 0;
        //padding: 0;
        float: none;
        .make-row(0);
        .list-unstyled;
        .text-center;
        .link{
            .grow;
            .make-sm-column(2);
            text-align: center;
            float: none;
            height: 100px;
            @media (min-width:@screen-sm) {
                width: 20%!important;
            }
            img{
                display: inline;
            }
            #bp3ti{
                height: 100%;
                width: auto;
            }
        }
    }
}