#title {
    background-color: @warna-5;
    background-image: url(http://www.transparenttextures.com/patterns/cubes.png);
    min-height: 12em;
    h1 {
        color: white;
        margin-top: 1.35em;
        margin-bottom: 0.5em;
    }
    text-align: center;
}

#header-placeholder{
    display: inline-block;
    margin-top: 24px;
}
.page-tabs {
    .make-row();
    .container {
        .make-xs-column(12);
        .nav-tabs {
            text-align: center;
            border: 0;
            > li {
                float: none;
                display: inline-block;
                *display: inline;
                /* ie7 fix */
                
                zoom: 1;
                /* hasLayout ie7 trigger */
                
                a {
                    border: 0;
                    border-radius: @border-largest-radius @border-smallest-radius 0 @border-smallest-radius;
                }
            }
            > li:not(.active) {
                a {
                    color: white;
                    &:hover, &:focus {
                        background-color: rgba(255, 255, 255, 0.3);
                    }
                }
            }
        }
    }
}



@media (max-width: @screen-lg) {
    .page-tabs {
        .nav-tabs {
            margin-bottom: 1em;
            li {
            	margin-top: 0.5em;
                a {
                    border-radius: @border-leaf!important;
                }
            }
        }
    }
}

.section{
    padding-top: 3em;
}